# ---> WordPress
# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes
wp-content/themes/pulitzer/functions.php
wp-content/themes/pulitzer/readme.txt
wp-content/themes/pulitzer/screenshot.png
wp-content/themes/pulitzer/style.css
wp-content/themes/pulitzer/theme.json
wp-content/themes/pulitzer/assets/css/blocks/comments.css
wp-content/themes/pulitzer/assets/css/blocks/footnotes.css
wp-content/themes/pulitzer/assets/css/blocks/jetpack-sharing-buttons.css
wp-content/themes/pulitzer/assets/css/blocks/jetpack-subscriptions.css
wp-content/themes/pulitzer/assets/css/blocks/list.css
wp-content/themes/pulitzer/assets/css/blocks/navigation.css
wp-content/themes/pulitzer/assets/css/blocks/paragraph.css
wp-content/themes/pulitzer/assets/css/blocks/post-comments-form.css
wp-content/themes/pulitzer/assets/css/blocks/post-excerpt.css
wp-content/themes/pulitzer/assets/css/blocks/post-featured-image.css
wp-content/themes/pulitzer/assets/css/blocks/post-terms.css
wp-content/themes/pulitzer/assets/css/blocks/query-pagination-numbers.css
wp-content/themes/pulitzer/assets/css/blocks/search.css
wp-content/themes/pulitzer/assets/css/blocks/social-links.css
wp-content/themes/pulitzer/assets/fonts/newsreader/license.txt
wp-content/themes/pulitzer/assets/fonts/newsreader/newsreader-var-italic.woff2
wp-content/themes/pulitzer/assets/fonts/newsreader/newsreader-var.woff2
wp-content/themes/pulitzer/parts/footer.html
wp-content/themes/pulitzer/parts/header.html
wp-content/themes/pulitzer/parts/posts-cols-2-image.html
wp-content/themes/pulitzer/parts/posts-image-large.html
wp-content/themes/pulitzer/parts/posts-image-small.html
wp-content/themes/pulitzer/parts/posts.html
wp-content/themes/pulitzer/patterns/general-archive-list.php
wp-content/themes/pulitzer/patterns/general-contact-list.php
wp-content/themes/pulitzer/patterns/general-resume-list.php
wp-content/themes/pulitzer/patterns/hidden-404.php
wp-content/themes/pulitzer/patterns/hidden-comments.php
wp-content/themes/pulitzer/patterns/hidden-footer.php
wp-content/themes/pulitzer/patterns/hidden-header.php
wp-content/themes/pulitzer/patterns/hidden-no-results.php
wp-content/themes/pulitzer/patterns/hidden-posts-cols-2-image.php
wp-content/themes/pulitzer/patterns/hidden-posts-image-large.php
wp-content/themes/pulitzer/patterns/hidden-posts-image-small.php
wp-content/themes/pulitzer/patterns/hidden-posts.php
wp-content/themes/pulitzer/patterns/hidden-search.php
wp-content/themes/pulitzer/patterns/hidden-single-sharing-row.php
wp-content/themes/pulitzer/patterns/hidden-single.php
wp-content/themes/pulitzer/patterns/page-archive.php
wp-content/themes/pulitzer/patterns/page-contact.php
wp-content/themes/pulitzer/patterns/page-newsletter.php
wp-content/themes/pulitzer/patterns/page-resume.php
wp-content/themes/pulitzer/styles/humanist.json
wp-content/themes/pulitzer/styles/inverted.json
wp-content/themes/pulitzer/styles/parchment.json
wp-content/themes/pulitzer/templates/404.html
wp-content/themes/pulitzer/templates/archive.html
wp-content/themes/pulitzer/templates/index.html
wp-content/themes/pulitzer/templates/page-no-title.html
wp-content/themes/pulitzer/templates/page.html
wp-content/themes/pulitzer/templates/search.html
wp-content/themes/pulitzer/templates/single.html
