@tailwind base;

@layer base {
}

@tailwind components;

@layer components {

    /* Wrapper */
        #wrapper {
            outline: 1px solid var(--primary-color, #00f);
            max-width: calc(100% - 32px);
            @apply py-4 px-12 w-full mx-auto relative my-8 
        }

        #wrapper section {
            @apply relative
        }

    /* Posts */
    .post {
        outline: 1px dashed #f00;
        @apply p-4 mt-4 mb-8 text-xs
    }

}

@tailwind utilities;
